
<div class="filter-container">

<div class="filter">

  <span>Filter:</span>

  <input
  type="radio"
  name="filter"
  value="all"
  [(ngModel)]="selectedFilterRadioButton"
  (change)="onSelectedFilterRadioButtonChanged()"
/>
  <span>All ({{ all }})</span>


  <input
    type="radio"
    name="filter"
    value="true"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
  <span>In Stock ({{ inStock }})</span>


  <input
    type="radio"
    name="filter"
    value="false"
    [(ngModel)]="selectedFilterRadioButton"
    (change)="onSelectedFilterRadioButtonChanged()"
  />
     <span>Out of Stock ({{ outOfStock }})</span>
       
</div>

<div class="filter extra-filters">
  <span>Category:</span>
  <button
    type="button"
    class="chip"
    [class.active]="selectedCategory === 'all'"
    (click)="selectCategory('all')">
    All
  </button>
  <button
    type="button"
    class="chip"
    *ngFor="let category of categories"
    [class.active]="selectedCategory === category"
    (click)="selectCategory(category)">
    {{ category }}
  </button>
</div>

<div class="filter extra-filters">
  <span>Sort:</span>
  <select [(ngModel)]="selectedSort" (change)="onSortChanged()">
    <option value="default">Featured</option>
    <option value="price-asc">Price: Low to High</option>
    <option value="price-desc">Price: High to Low</option>
    <option value="rating">Top Rated</option>
    <option value="discount">Biggest Discount</option>
  </select>
</div>
</div>
