<div class="ekart-top-menu">

  <div class="ekart-top-menu-left">
    <span>Welcome to eKart</span>
  </div>

  <div class="ekart-top-menu-right">

    <button type="button" (click)="trackOrder()">
      <i class="fa fa-map-marker"></i>
      Track Order
    </button>

    <a href="#help">
      <i class="fa fa-question-circle"></i>
      Help
    </a>

    <button type="button" (click)="wishlist.open()">
      <i class="fa fa-heart"></i>
      Wishlist
      <span class="menu-count" *ngIf="(wishlist.count$ | async) as count">({{ count }})</span>
    </button>

    <a href="#about">
      <i class="fa fa-user"></i>
      Sign In / Register
    </a>

  </div>

</div>
